### Load the Data in Python

In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('../data/raw/owid-covid-data.csv')
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [23]:
#Show basic structure
print("Shape of datast", df.shape)
print("\nColumn names:\n", df.columns.tolist())

Shape of datast (429435, 67)

Column names:
 ['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred', 'stringency_index', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index', 'population', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million']

### Understand the Structure

In [24]:
# Check for missing values
print("Missing values per column:")
print(df.isnull().sum().sort_values(ascending=False))

Missing values per column:
weekly_icu_admissions_per_million          418442
weekly_icu_admissions                      418442
excess_mortality_cumulative_per_million    416024
excess_mortality                           416024
excess_mortality_cumulative                416024
                                            ...
total_deaths                                17631
population                                      0
date                                            0
location                                        0
iso_code                                        0
Length: 67, dtype: int64

In [25]:
# Data types
print("\nData types:")
print(df.dtypes)

Data types:
iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
population                                   int64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [26]:
# convert date column to datetime
df['date'] = pd.to_datetime(df['date'])
print(df.dtypes)

iso_code                                           object
continent                                          object
location                                           object
date                                       datetime64[ns]
total_cases                                       float64
                                                ...
population                                          int64
excess_mortality_cumulative_absolute              float64
excess_mortality_cumulative                       float64
excess_mortality                                  float64
excess_mortality_cumulative_per_million           float64
Length: 67, dtype: object

### Clean and Prepare the Data

#### Filter to Countries only

In [27]:
# filter only rows where 'content is not null (this filters out agggregates like 'World', etc.)
df_countries = df[df['continent'].notna()].copy()

# Check unique contries
print("Number of contries:", df_countries['location'].nunique())
print("Sample countries:", df_countries['location'].unique()[:10])

Number of contries: 243
Sample countries: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia']

#### Select Relavent Columns

In [28]:
columns_to_keep = [
    'location', 'continent', 'date', 'total_cases', 'new_cases',
    'total_deaths', 'new_deaths', 'total_vaccinations', 'people_vaccinated',
    'people_fully_vaccinated', 'population', 'stringency_index'
]

df_countries = df_countries[columns_to_keep]
df_countries

,location,continent,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,population,stringency_index
0,Afghanistan,Asia,2020-01-05,0.0,0.0,0.0,0.0,NaN,NaN,NaN,41128772,0.0
1,Afghanistan,Asia,2020-01-06,0.0,0.0,0.0,0.0,NaN,NaN,NaN,41128772,0.0
2,Afghanistan,Asia,2020-01-07,0.0,0.0,0.0,0.0,NaN,NaN,NaN,41128772,0.0
3,Afghanistan,Asia,2020-01-08,0.0,0.0,0.0,0.0,NaN,NaN,NaN,41128772,0.0
4,Afghanistan,Asia,2020-01-09,0.0,0.0,0.0,0.0,NaN,NaN,NaN,41128772,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
429430,Zimbabwe,Africa,2024-07-31,266386.0,0.0,5740.0,0.0,NaN,NaN,NaN,16320539,NaN
429431,Zimbabwe,Africa,2024-08-01,266386.0,0.0,5740.0,0.0,NaN,NaN,NaN,16320539,NaN
429432,Zimbabwe,Africa,2024-08-02,266386.0,0.0,5740.0,0.0,NaN,NaN,NaN,16320539,NaN
429433,Zimbabwe,Africa,2024-08-03,266386.0,0.0,5740.0,0.0,NaN,NaN,NaN,16320539,NaN
429434,Zimbabwe,Africa,2024-08-04,266386.0,0.0,5740.0,0.0,NaN,NaN,NaN,16320539,NaN

In [35]:
print(df_countries.shape)
df_countries.isnull().sum()

(402910, 12)

location                   0
continent                  0
date                       0
total_cases                0
new_cases                  0
total_deaths               0
new_deaths                 0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
population                 0
stringency_index           0
dtype: int64

### Handle Missing Values

In [30]:
# Fill numeric columns with 0
numeric_cols = df_countries.select_dtypes(include='number').columns
df_countries[numeric_cols] = df_countries[numeric_cols].fillna(0)

df_countries.sort_values(['location', 'date'], inplace=True)
df_countries[numeric_cols] = df_countries.groupby('location')[numeric_cols].ffill().fillna(0)

In [32]:
print("Cleaned data shapes:", df_countries.shape)
print("Missing values after cleaning:\n", df_countries.isnull().sum())

Cleaned data shapes: (402910, 12)
Missing values after cleaning:
 location                   0
continent                  0
date                       0
total_cases                0
new_cases                  0
total_deaths               0
new_deaths                 0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
population                 0
stringency_index           0
dtype: int64

In [36]:
df_countries.head()

,location,continent,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,population,stringency_index
0,Afghanistan,Asia,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772,0.0
1,Afghanistan,Asia,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772,0.0
2,Afghanistan,Asia,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772,0.0
3,Afghanistan,Asia,2020-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772,0.0
4,Afghanistan,Asia,2020-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772,0.0

In [37]:
df_countries.to_csv('../data/processed/preprocessed_data.csv')